.herobanner {
  padding: 3rem 0;
}
.herobanner-name {
  font-size: 28px;
  font-weight: 500;
}

.herobanner-title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: -4px;
}

.herobanner-additional-content-cta a {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-weight: 500;
  display: inline-block;
  background: #000000;
  color: white !important;
}

.herobanner-additional-content-cta a:hover {
  color: #000000 !important;
  background: white;
  transition: 1s;
}

.herobanner-additional-content-text {
  font-size: 22px;
}

.herobanner .toast-body {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .herobanner {
    padding: 2rem 0;
  }
  .herobanner-title {
    font-size: 3.5rem;
    line-height: 54px;
  }

  .herobanner-additional-content-text {
    font-size: 18px;
  }

  .herobanner .toast-body {
    font-size: 14px;
    font-weight: 500;
  }

  .herobanner-additional-content-text br{
    display: none;
  }
}
