.skills {
  padding: 3rem 0;
  overflow: hidden;
  width: 100%;
  background: #fff;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  width: max-content;
}

.skills-wrapper:hover {
  cursor: pointer;
}

.skills-wrapper img {
  max-width: 200px;
  max-height: 150px;
  filter: grayscale(100%);
}

.skills-wrapper img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .skills {
    padding: 2rem 0;
  }
}
