.about {
  padding: 3rem 0;
}

.about-title {
  font-size: 4.75rem;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: 1;
}

.about-description {
  font-size: 18px;
}

.about-cta a {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-weight: 500;
  display: inline-block;
}

.about-cta a:hover {
  color: white !important;
  background: #000000;
  transition: 1s;
}

.about-lists li {
  list-style: none;
  font-size: 18px;
  text-align: right;
}

.about-lists.d-lg-none li {
  text-align: start;
}

@media screen and (max-width: 992px) {
  .about {
    padding: 2rem 0;
  }
  
  .about-title {
    font-size: 3.75rem;
    line-height: 54px;
  }
}
