.footer {
  padding: 4rem 0;
  background-color: #000000;
}

.footer-logo {
  font-size: 36px;
  font-weight: 700;
}

.footer-social-icons {
  display: inline-block;
  padding: 0.5rem 0;
  border-radius: 2rem;
}

.footer-social-icons:hover {
  background: #3f3f3f;
  transition: 1s;
}

.footer-description {
  font-size: 22px;
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 2rem 0;
  }
}
