.certificates {
  padding: 3rem 0;
}
.certificates-title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;
}
.certificates-content:not(:last-child) {
  border-bottom: 3px solid #eaeaea;
  padding-bottom: 20px;
}
.certificates-content:not(:first-child) {
  padding-top: 20px;
}

.certificates-content-title {
  font-size: 22px;
}
.certificates-content-year {
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .certificates {
    padding: 2rem 0;
  }
}
